.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display : table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.row .card {
    margin: 2.5em;
    height: 32.5em;
    width: 20em;
    opacity: 0.85;
}


.card-content {
    overflow: auto;
}

html,
body {
    background-color: #240F52;
    background-image: linear-gradient(0deg, #36295e, #1c1045);
}

/*.outer-ring .inner-ring {*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*    display:flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-content: flex-start;*/
/*    align-items: center;*/
/*}*/

.outer-ring {
    position: absolute;
    left: calc(50% - 150px);
    height: 360px;
    width: 360px;
    background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
    border-radius: 50%;

    /*  Rotate  */
    animation-duration: 2s;
    animation-name: rotate;
    animation-iteration-count: infinite;
}

.inner-ring {
    position: absolute;
    left: calc(50% - 140px);
    height: 340px;
    width: 340px;
    background-image: linear-gradient(0deg, #36295e, #1c1045);
    border-radius: 50%;
}

@keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}
