* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  filter: drop-shadow(0 6px 5px white);
  position: initial;
}

.cta {background-image: linear-gradient(to right, violet 0%, darkblue  51%, violet  100%)}
.cta {
  margin: 1vw;
  padding: 0.5vw 1vw;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
}

.cta:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  background-color: black;
}

.option {
  background-color: black;
}

.button, .span {
  border-radius: 4px;
  /*background: linear-gradient(150deg, #072c94, #93c8c4, #2c2e3b);*/
  border: solid 1px whitesmoke;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5vw;
  padding: 0.25em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1vw;
}

.button span:after, .span span:after {
  content: '\00bb';
  position: relative;
  opacity: 0;
  right: 0.50em;
  transition: 0.5s;
}

.button:hover span, .span:hover span{
  padding-right: 10px;
}

.button:hover span:after, .span:hover span:after{
  opacity: 1;
  right: -10px;
}

.nav {
  margin: auto;
  display: flex;
  align-items: center;
  padding: 1.5vw;
}

.logo {
  margin: 1vw;
  padding-right: 5vw;
}

.cart {
  background: linear-gradient(150deg, #072c94, #93c8c4, #2c2e3b);
  border: solid 1px whitesmoke;
  transition: 0.3s;
}

.cart:hover {
  margin: 0.5vw;
  padding: 0.5vw 1vw;
  font-size: 2vw;
  border-radius: 20px;
  background: linear-gradient(112.4deg, rgb(169, 28, 115) 21.6%, rgb(219, 112, 54) 92.2%);
}

#car,
.keanuReaves {
  animation: car 1s ease-in-out infinite alternate;
}

@keyframes car {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(5%);
  }
}

#firstwheel, #lastwheel{
  animation: wheel 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#Vector_20, #Vector_21 {
  animation: dollar_logo 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes dollar_logo {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.buttons-div{
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1630px) {
  .nav {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  .buttons-div{
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1200px) {
  .nav {
    flex-direction: column;
  }

  .logo {
    margin: 0;
    padding-right: 0;
  }
}