.row .card {
    margin: 1.5em;
    padding: 1em;
    height: 32.5em;
    /*width: 20em;*/
    opacity: 0.9;
}

.row {
    padding: 10vw;
    flex-wrap: nowrap;
}

.card-content {
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Orbitron', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.card-content::-webkit-scrollbar {
    display: none;
}

html,
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
    text-align: center;
    background: linear-gradient(140deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

.outer-ring {
    position: absolute;
    top: calc(50% - 295px);
    left: calc(50% - 150px);
    height: 260px;
    width: 260px;
    background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
    border-radius: 50%;
    animation-duration: 3s;
    animation-name: rotate;
    animation-iteration-count: infinite;
}

.inner-ring {
    position: absolute;
    top: calc(50% - 275px);
    left: calc(50% - 140px);
    height: 240px;
    width: 240px;
    opacity: 0.95;
    background-image: url("/static/pictures/gradient_bg_girl.jpg");
    background-size: auto;
    border-radius: 50%;
}

@keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}

.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    border-radius: var(--borderWidth);
}
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-2 * var(--borderWidth));
    left: calc(-2 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 5);
    width: calc(100% + var(--borderWidth) * 5);
    background: linear-gradient(150deg, #072c94, #93c8c4, #2c2e3b, #2c2e3b, #b16eb5, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(5 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.col > .card {
    animation-duration: 3.5s;
    animation-name: animate-fade, slidein;
}

.card > img {
    border: solid 2px green;
    filter: drop-shadow(-4px 5px 10px black);
}

@keyframes slidein {
    from {
        margin-left: 50%;
    }

    to {
        margin: 1.5em;
    }
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 0.9; }
}

.container {
    padding: 40px;
    height: 126%;
    display: block;
    overflow: auto;
}

.container::-webkit-scrollbar {
    width: 0.25rem;
}

.container::-webkit-scrollbar-track {
    background: #1e1e24;
}

.container::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
    border-radius: 2vw;
}

.label {
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    justify-content: center;
}

.push-down {
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
}

.push-down:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.banner-area {
    background-image: url('/static/pictures/musicplayer_bg_guy_banner.png');
    background-size: cover;
    background-position: center center;
    height: 70vh;
    width: 100%;
    top: 12vw;
    position: sticky;
    filter: drop-shadow(6px -3px 5px blueviolet);
    animation: moving 5s ease-in-out infinite;
    animation-direction: alternate-reverse;
}

.banner-area:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #130f40;
    opacity: .5;
    z-index: -1;
}

.banner-area h2 {
    padding-top: 15%;
    font-size: 80px;
    color: #fff;
}

.container {
    filter: drop-shadow(6px -3px 5px blue);
    max-width: 100%;
    background-image: url("/static/pictures/webshop_bg.jpg");
    background-repeat: repeat;
    position: relative;
    padding: 3vw;
}

#dealership {
    background: black;
    z-index: 1;
    font-size: 2vw;
    color: #ffffff;
    filter: drop-shadow(0 6px 5px blueviolet);
    top: calc(-2 * var(--borderWidth));
    left: calc(-2 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 5);
    width: calc(100% + var(--borderWidth) * 5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#dealership > img {
    height: 20vw;
    padding: 1vw;
}

#dealership-text {
    font-size: 3vh;
}
