.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display : table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.row .card {
    margin: 1.5em;
    padding: 0.25em;
    height: 32.5em;
    /*width: 20em;*/
    opacity: 0.9;
}


.card-content {
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Orbitron', sans-serif;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.card-content::-webkit-scrollbar {
    display: none;
}

html,
body {
    background-image: url("/static/pictures/webshop_bg.jpg");
    background-size: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

.outer-ring {
    position: absolute;
    top: calc(50% - 295px);
    left: calc(50% - 150px);
    height: 260px;
    width: 260px;
    background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
    border-radius: 50%;
    animation-duration: 3s;
    animation-name: rotate;
    animation-iteration-count: infinite;
}

.inner-ring {
    position: absolute;
    top: calc(50% - 275px);
    left: calc(50% - 140px);
    height: 240px;
    width: 240px;
    opacity: 0.95;
    background-image: url("/static/pictures/gradient_bg_girl.jpg");
    background-size: auto;
    border-radius: 50%;
}

@keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}

.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    border-radius: var(--borderWidth);
}
.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-2 * var(--borderWidth));
    left: calc(-2 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 5);
    width: calc(100% + var(--borderWidth) * 5);
    background: linear-gradient(150deg, #072c94, #93c8c4, #2c2e3b, #2c2e3b, #b16eb5, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(5 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.col > .card {
    animation-duration: 3.5s;
    animation-name: animate-fade, slidein;
}

.card > img {
    border: solid 2px green;
    filter: drop-shadow(-4px 5px 10px black);
}

@keyframes slidein {
    from {
        margin-left: 50%;
    }

    to {
        margin: 1.5em;
    }
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 0.9; }
}

.container {
    padding: 40px;
    height: 126%;
    display: block;
}

.label {
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .outer-ring {
        /*height: 260px;*/
        /*width: 260px;*/
        /*top: calc(50% - 295px);*/
        /*left: calc(50% - 150px);*/

        top: calc(50% - 73.75vw);
        left: calc(50% - 37.5vw);
        height: 65vw;
        width: 65vw;
    }

    .inner-ring {
        /*height: 240px;*/
        /*width: 240px;*/
        /*top: calc(50% - 275px);*/
        /*left: calc(50% - 140px);*/

        top: calc(50% - 68.75vw);
        left: calc(50% - 35vw);
        height: 60vw;
        width: 60vw;
    }
}