#cartReviewModal {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#cartReviewModal::-webkit-scrollbar{
    display: none;
}

.checkoutProductContainer {
    padding: 3vw;
    margin: 3vw;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.checkoutProductContainerElements > img{
    margin: 0.5vw;
    border: solid 3px #23a6d5;
    filter: drop-shadow(0 6px 5px white);
    width: 75%;
    height: 75%;
}

.checkoutProductContainerElements > p {
    margin: 0.5vw;
    font-size: 25px;
}

.checkoutProductContainerElements{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    filter: drop-shadow(3px 3px 5px white);
}

.modalMessage {
    font-size: 3vw;
    color: white;
    filter: drop-shadow(3px 3px 5px white);
    margin: auto;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1vw;
    filter: drop-shadow(3px 3px 5px white);
    color: white;
}

label {
    padding: 0.5vw;
}

.totalPrice {
    margin: auto;
    color: white;
    font-size: 3vw;
    padding: 15px;
}

#paidModal {
    display: flex;
    flex-direction: row-reverse;
}

#cartReviewModal{
    transform: translate(75%, 0%);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 10vw;
    width: 40vw;
    max-height: calc(100vh - 1vw);
    overflow-y: auto;
    background-image: url("/static/pictures/webshop_bg.jpg");
    filter: drop-shadow(6px 6px 5px white);
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 1vw;
}

.close{
    right: 3vw;
    top : 2vw;
    font-size: 5vw;
    color: white;
}

.close:hover {
    color: white;
}

.bluredBackground{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.7);
}

.modalBackgroundWithoutFilter {
    background-color: black;
}

.modalBackgroundWithFilter {
    background-color: black;
    filter: drop-shadow(0 6px 5px white);
}

@media only screen and (max-width: 900px) {

    .checkoutProductContainerElements{
        flex-direction: column;
    }
}


@media only screen and (max-width: 650px) {
    #cartReviewModal {
        width: 70vw;
        transform: translate(25%, 0%);
    }
}

@media only screen and (max-width: 1000px) {

    svg {
        display: none;
    }

    .modalBackgroundWithFilter,
    .modalBackgroundWithoutFilter{
        background-color: transparent;
        filter: none;
    }
}
