#cartReviewModal {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#cartReviewModal::-webkit-scrollbar{
    display: none;
}

.checkoutProductContainer {
    padding: 3vw;
    margin: 1vw;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.checkoutProductContainerElements > img{
    margin: 0.5vw;
    border: solid 3px #23a6d5;
    filter: drop-shadow(0 6px 5px white);
}

.checkoutProductContainerElements > p {
    margin: 0.5vw;
}

.checkoutProductContainerElements{
    display: flex;
    align-items: center;
    color: white;
    filter: drop-shadow(3px 3px 5px white);
}

#cartReviewTotalPrice{
    margin: auto;
    color: white;
    filter: drop-shadow(3px 3px 5px white);
}

#deliveryModal > label > input {
    position: absolute;
    left: 20%;
}

#paidModal{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    width: 40vw;
    top: 15vw;
    left: 30vw;
    background: white;
}


#deliveryModal{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    width: 40vw;
    top: 15vw;
    left: 30vw;
    background: white;
}

#cartReviewModal{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    width: 70vw;
    top: 15vw;
    left: 15.25vw;
    padding: 1vw;
    max-height: calc(100vh - 1vw);
    overflow-y: auto;
    background-image: url("/static/pictures/webshop_bg.jpg");
    filter: drop-shadow(6px 6px 5px white);
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    padding: 5px;}

.close{
    right: 3vw;
    top : 2vw;
    font-size: 5vw;
    color: white;
}

.close:hover {
    color: white;
}


.bluredBackground{
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: rgba(0,0,0,0.7);
}


/*Original navbar size*/
@media only screen and (max-width: 1700px) {
    #cartReviewModal {
        top: 16vw;
    }
}

/*First navbar transformation*/
@media only screen and (max-width: 1630px) {
    #cartReviewModal {
        top: 30vw;
    }
}

@media only screen and (max-width: 1450px) {
    #cartReviewModal {
        top: 33vw;
    }
}

@media only screen and (max-width: 1350px) {
    #cartReviewModal {
        top: 35vw;
    }
}

@media only screen and (max-width: 1350px) {
    #cartReviewModal {
        top: 37vw;
    }
}
/* Second navbar transformation */
@media only screen and (max-width: 1200px) {
    #cartReviewModal {
        top: 62vw;
    }
}

@media only screen and (max-width: 1100px) {
    #cartReviewModal {
        top: 65vw;
    }
}

@media only screen and (max-width: 1000px) {
    #cartReviewModal {
        top: 69vw;
    }
}

@media only screen and (max-width: 900px) {
    #cartReviewModal {
        top: 73vw;
    }

    .checkoutProductContainerElements{
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    #cartReviewModal {
        top: 80vw;
    }
}

@media only screen and (max-width: 700px) {
    #cartReviewModal {
        top: 88vw;
    }
}

@media only screen and (max-width: 600px) {
    #cartReviewModal {
        top: 88vw;
    }
}

@media only screen and (max-width: 666px) {
    #cartReviewModal {
        top: 90vw;
    }
}