* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

.music_player {
    filter: drop-shadow(4px 10px 30px darkmagenta);
}

@keyframes moving { to { background-position: 90% } }

.background {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background: url('/static/pictures/musicplayer_bg_nightcity.jpg');
    background-size: cover;
    animation: moving 10s linear infinite;
    animation-direction: alternate-reverse;
    border-top: inset 5px purple;
}

.music_player_body > img {
    width: calc(2 / 4 * 100%);
}

#waveform {
    margin-top: 3vw;
}

.music_player_body {
    height: 30vw;
    width: 70vw;
    padding: 3%;
    box-sizing: border-box;
    background: #000;
    display: flex;
    opacity: 0.9;
    filter: drop-shadow(0 0 10px black);
    border-radius: 20px;
}
.info {
    color: #fff;
    margin-left: 30px;
    flex: 1;
    overflow: hidden;
}

.info p{
    font-size: 1vw;
}

.info h2 {
    font-size: 2vw;
}

.controls {
    margin-top: 5vw;
    display: flex;
    align-items: center;
}

wave.element.style {
    height: 6vw;
    width: 30vw;
}

.controls img {
    width: 1.5vw;
    margin-right: 20px;
    cursor: pointer;
}

a {
    font: 1.50em black;
    display: flex;
    border-radius: 20px;
    border: solid black 2px;

    /*Border-Animation*/
    position: relative;
    z-index: 10;
}

/*Smaller Monitors - Music Player without Image*/
@media only screen and (max-width: 1350px) {
    .music_player_body > img {
        display: none;
    }

    .controls {
        justify-content: center;
    }

    .music_player_body {
        align-items: center;
        height: 30vw;
        width: 90vw;
    }

    .info p {
        font-size: 1.5vw;
    }

    .info h2 {
        font-size: 2vw;
    }

    .controls img {
        width: 2vw;
    }
}

/*Small Screens - Mobile*/
@media only screen and (max-width: 600px) {
    .music_player_body > img {
        display: none;
    }

    .controls {
        justify-content: center;
    }

    .music_player_body {
        align-items: center;
        height: 70vw;
        width: 90vw;
    }

    .info p {
        font-size: 4vw;
    }

    .info h2 {
        font-size: 6vw;
    }

    .controls img {
        width: 6vw;
    }
}